/haxeCordova/done/hxsrc/tmp/save/*
/haxeCordova/done/hxsrc/tmp/geoloc/*
doc/jm/*
/haxeCordova/done/cordosample/hooks/*
/haxeCordova/done/cordosample/platforms/*
/haxeCordova/done/cordosample/plugins/*

/haxeCordova/done/norma/hooks/*
/haxeCordova/done/norma/platforms/*
/haxeCordova/done/norma/plugins/*

haxeCordova/todo/template/projet/platforms/*
.gitignore
.gitattributes
a.bat
c.bat
p.bat
s.bat