<?xml version='1.0' encoding='utf-8'?>
<widget id="net.pixaline.cordosample" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova sample</name>
    <description>
        Cordova samples.
    </description>
     <author email="info@pixaline.net" href="http://www.pixaline.net">
        jmi
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
